*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --primary-color: #eecab3;
    --button-color: #fc7b2c;
    --secondary-color: #fffdd0;
    --neutral: #ffffff;
    --black: #000000;
}
.logo{
    padding-top: 10px;
}
#menu_icon{
    padding-bottom: 10px;
}
#close_icon{
    position: relative;
    left: 210px;
    top: 25px;
    cursor: pointer;
}
.web_view_msg{
    display: none;
}
.nav_links_cnt{
    display: none;
}
.profile{
    padding-top: 70px;
    background-color: var(--primary-color);
    height: 550px;
    width: 100%;
    position: relative;
}
.nav{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background: var(--primary-color);
    padding: 20px 10px 5px 10px;
    border: 0px solid;
    font-weight: bold;
    cursor: pointer;
    height: 80px;
    width: 100%;
}
.sidenav{
    background-color: rgba(252, 124, 44, 0.8);
    /* backdrop-filter: blur(20px); */
    height: 400px;
    width: 0;
    overflow-x: hidden;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    transition: 0.5s;
    border-bottom-left-radius: 50%;
}
.sidenav a{
    display: block;
    width: 150px;
    text-decoration: none;
    color: var(--neutral);
    padding-left: 30px;
    line-height: 2em;
}
.sidenav_cnt{ 
    border: 0px dashed;
    font-weight: bolder;
}
.sidenav a:hover{
    color: grey;
    font-weight: bold;
}
.contact_btn{
    display: none;
}
.self_img{
    padding-top: 20px;
    display: block;
    border-radius: 50%;
    margin: auto;
    width: 80%;
}
.exposure{
    position: absolute;
    width: 170px;
    border-radius: 10px;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    bottom: 40px;
    left: 190px;
}
.exp_p{
    font-weight: 100px;
    font-size: 13px;
}
.brief_msg{
    text-align: center;
    padding: 15px;
    background-color: var(--neutral);
    height: auto;
}
.brief_msg_hd{
    color: var(--button-color);
}
.btn_container{
    text-align: center;
    padding-bottom: 15px;
}
.download_icon{
    padding-left: 4px;
}
.hire_me{
    cursor: pointer;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 0px solid;
    color: var(--neutral);
    background: var(--button-color);
    margin-left: 5px;
    font-weight: bold;
    animation: wiggle 2s linear infinite;
}
.hire_me a{
    text-decoration: none;
    color: var(--neutral);
}
.hire_me:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5;
}
.resume{
    cursor: pointer;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 0px solid;
    font-weight: bold;
    color: var(--button-color);
    background: var(--neutral);
    animation: wiggle 4s linear infinite;
}
.resume:hover{
    color: var(--neutral);
    border-radius: 4px;
    background: var(--primary-color);
    transition: 0.5s;
}
.resume a{
    text-decoration: none;
    color: var(--button-color);
}
.media_pic_cnt{
    background: var(--neutral);
    position: relative;
    display: flex;
    flex-direction: column;
}
.media_pic{
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 85%;
}
.media_pic:hover{
    opacity: 0.8;
}
.media_icon{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 93%;
    height: 70px;
    gap: 10px;
    padding: 10px;
    position: absolute;
    bottom: 190px;
}
.twitter{
    width: 33.2%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--neutral);
}
.linkedln{
    width: 33.2%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);   background-color: var(--neutral);
}
.github{
    width: 33.2%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--neutral);
}
.behance{
    display: none;
}
.twitter_icon, .linkedin_icon, .github_icon{
    position: relative;
    left: 0px;
    top: 10px;
}
.icon_url{
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    color: var(--black);
    text-align: center;
    position: relative;
    bottom: 9px;
    left: 20px;
}
.icon_txt{
    display: block;
    opacity: 0.5;
    font-size: 10px;
    text-align: center;
}
.about_me{
    margin-top: 10px;
    padding: 15px;
    background-color: var(--neutral);
}
.about_me_head{
    color: var(--button-color);
}
.more_about_me_btn{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--neutral);
    border: 0px solid;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 15px;
}
.more_about_me_btn:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}
.services{
    display: none;
}
.creative_works{
    padding: 15px;
    background-color: var(--neutral);
}
.creative_works_head{
    color: var(--button-color);
}
.projects{
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: var(--neutral);
}
.btn_cnt{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.source_btn, .live_btn{
    border: none;
    padding: 5px 20px;
    background-color: var(--button-color);
    color: var(--neutral);
    border-radius: 5px;
}
.source_btn a{
    text-decoration: none;
    color: var(--neutral);
    position: relative;
    top: -3px;
}
.link_icon{
    position: relative;
    top: 5px;
}
.live_btn a{
    text-decoration: none;
    color: var(--neutral);
}
.source_btn:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.live_btn:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
.first_project{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 95%;
    text-align: center;
    background-color: var(--primary-color);
    height: auto;
}
.first_project_img{
    border-radius: 10px;
    margin-top: 10px;
}
.second_project{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 95%;
    background-color: var(--primary-color);
    text-align: center;
    height: auto;
}
.second_project_img{
    border-radius: 10px;
    margin-top: 10px;
}
.third_project{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 95%;
    text-align: center;
    background-color: var(--primary-color);
    margin-bottom: 10px;
    height: auto;
}
.third_project_img{
    border-radius: 10px;
    margin-top: 10px;
}
.more_project{
    display: flex;
    background-color: var(--neutral);
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    height: 50px;
}

.more_projects_btn{
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--neutral);
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.more_projects_btn:hover{
    background-color: var(--primary-color);
}
.skill_layout{
    display: block;
    background-color: var(--neutral);
    padding: 15px;
}
.experience{
    color: var(--button-color);
}
.skill_set{
    padding-top: 10px;
    height: auto;
    background: var(--neutral);
    display: grid;
    gap: 5px;
}
.skill_logo_cnt:hover{
    height: 75px;
    transition:  0.5s;
}
.skill_logo_cnt{
    height: 70px;
    position: relative;
    border: 0px solid;
    border-radius: 4px;
    padding: 10px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.logo_txt{
    position: absolute;
    top: 35px;
    left: 75px;
    /* font-weight: bold; */
    font-size: 15px;
}
.footer{
    padding-top: 20px;
    width:100%;
    height: auto;
    background-image: url(img/footer-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background: var(--primary-color); */
}
.footer_container{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 80px;
    width: 60%;
    background: #FFF7F2;
}
.footer_pic{
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    width: 15%;
}
.footer_head{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    font-size: small;
}
.footer_btn{
    text-decoration: none;
    display: inline-block;
    background-color: var(--button-color);
    border-radius: 4px;
    padding: 4px 10px;
    font-weight: bold;
    color: var(--neutral);
    position: absolute;
    left: 75px;
    top: 40px;
    animation: wiggle 2s linear infinite;
}
.footer_btn:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}
hr{
    margin: 15px;
}
#reach_me{
    text-align: center;
    margin: 10px;
}
.connect{
    display: flex;
    width: 100%;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    justify-content: center;
    justify-items: center;
    gap: 15px;
}
.dark_svg{
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 1px dashed grey;
}
.dark_svg:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
}
.footer_links_cnt{
    display: flex;
    color: var(--black);
    font-weight: bold;
    width: 100%;
    gap: 10px;
}
.footer_links{
    color: var(--black);
    text-decoration: none;
}
.footer_links:hover{
    border-bottom: 1px solid;
    color: var(--button-color);
    transition: 0.5s;
}
.group1, .group2, .group3, .group4{
    width: 25%;
    text-align: center;
}
.copyright{
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: small;
}
.copyright_icon{
    position: relative;
    top: 5px;
}
.attribute{
    padding-top: 5  px;
    font-size: small;
    text-align: center;
}
/* @keyframes wiggle{
    0% {transform: rotateZ(-2deg);}
    25% {transform: rotateZ(2deg);}
    50% {transform: rotateZ(-2deg);}
    75% {transform: rotateZ(2deg);}
    100% {transform: rotateZ(0deg);}
} */
@keyframes wiggle{
    0%, 10% {transform: rotateZ(0);}
    15% {transform: rotateZ(-2deg);}
    20% {transform: rotateZ(2deg);}
    25% {transform: rotateZ(-2deg);}
    30% {transform: rotateZ(2deg);}
    35% {transform: rotateZ(-2deg);}
    50%, 100% {transform: rotateZ(0deg);}
}
/* MediaQ */
@media screen and (min-width:320px){
    .brief_msg{
        padding: 15px;
        background-color: var(--neutral);
        height: auto;
    }
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 45px;
        left: 125px;
    }

    .media_icon{
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 100%;
        height: 70px;
        gap: 10px;
        padding: 10px;
        position: absolute;
        bottom: 190px;
    }
    .twitter{
        width: 33.2%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--neutral);
    }
    .linkedln{
        width: 33.2%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);   background-color: var(--neutral);
    }
    .github{
        width: 33.2%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--neutral);
    }
    .twitter_icon, .linkedin_icon, .github_icon{
        position: relative;
        left: -6px;
        top: 10px;
    }
    .icon_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 9px;
        left: 10px;
    }
    .icon_txt{
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }

    .footer{
        padding-top: 20px;
        width:100%;
        height: auto;
        /* background: var(--primary-color); */
    }
    .footer_container{
        display: none;
    }
}
@media screen and (min-width:360px){
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 150px;
    }
    .brief_msg{
        padding: 15px;
        background-color: var(--neutral);
        height: auto;
    }
    .footer{
        padding-top: 20px;
        width:100%;
        height: auto;
        /* background: var(--primary-color); */
    }
    .footer_container{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        height: 80px;
        width: 60%;
        background: #FFF7F2;
    }
    .footer_pic{
        position: absolute;
        top: 16px;
        left: 12px;
        border-radius: 50%;
        width: 15%;
    }
    .footer_head{
        float: right;
        margin-top: 15px;
        margin-right: 6px;
        font-size: small;
    }
    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 4px;
        font-size: small;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 55px;
        top: 40px;
    }
}
@media screen and (min-width:375px){
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 165px;
    }
    .media_icon{
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 100%;
        height: 70px;
        gap: 10px;
        padding: 10px;
        position: absolute;
        bottom: 190px;
    }
    .twitter{
        width: 33.2%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--neutral);
    }
    .linkedln{
        width: 33.2%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);   background-color: var(--neutral);
    }
    .github{
        width: 33.2%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--neutral);
    }
    .twitter_icon, .linkedin_icon, .github_icon{
        position: relative;
        left: -0px;
        top: 10px;
    }
    .icon_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 9px;
        left: 17px;
    }
    .icon_txt{
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }

    .footer_container{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        height: 80px;
        width: 60%;
        background: #FFF7F2;
    }
    .footer_pic{
        position: absolute;
        top: 20px;
        left: 15px;
        border-radius: 50%;
        width: 15%;
    }
    .footer_head{
        float: right;
        margin-top: 15px;
        margin-right: 11px;
        font-size: small;
    }
    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 4px;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 60px;
        top: 40px;
    }
}
@media screen and (min-width:390px){
    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 10px;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 70px;
        top: 40px;
    }
}
@media screen and (min-width:410px){
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 185px;
    }
    .media_icon{
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 100%;
        height: 70px;
        gap: 10px;
        padding: 10px;
        position: absolute;
        bottom: 190px;
    }
    .twitter{
        width: 33.2%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--neutral);
    }
    .linkedln{
        width: 33.2%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);   background-color: var(--neutral);
    }
    .github{
        width: 33.2%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--neutral);
    }
    .twitter_icon, .linkedin_icon, .github_icon{
        position: relative;
        left: -2px;
        top: 10px;
    }
    .icon_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 9px;
        left: 23px;
    }
    .icon_txt{
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }

    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 4px;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 80px;
        top: 40px;
    }
}
@media screen and (min-width:417px){
    .media_icon{
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 100%;
        height: 70px;
        gap: 10px;
        padding: 10px;
        position: absolute;
        bottom: 165px;
    }
}
@media screen and (min-width:430px){
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 195px;
    }
    .footer_head{
        float: right;
        margin-top: 15px;
        margin-right: 16px;
        font-size: small;
    }
    .footer_pic{
        position: absolute;
        top: 20px;
        left: 20px;
        border-radius: 50%;
        width: 16%;
    }
    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 4px;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 90px;
        top: 40px;
    }
}
@media screen and (min-width:450px){
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 215px;
    }
    .twitter_icon, .linkedin_icon, .github_icon{
        position: relative;
        left: -1px;
        top: 10px;
    }
    .icon_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 9px;
        left: 30px;
    }
    .icon_txt{
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }
    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 4px;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 100px;
        top: 40px;
    }
}
@media screen and (min-width:470px){
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 225px;
    }
    .footer_container{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        height: 80px;
        width: 60%;
        background: #FFF7F2;
    }
    .footer_pic{
        position: absolute;
        top: 20px;
        left: 25px;
        border-radius: 50%;
        width: 16%;
    }
    .footer_head{
        float: right;
        margin-top: 15px;
        margin-right: 30px;
    }
    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 4px;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 100px;
        top: 40px;
    }
}
@media screen and (min-width:480px){
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 235px;
    }
}
@media screen and (min-width:490px){  
    .self_img{
        padding-top: 20px;
        display: block;
        border-radius: 50%;
        margin: auto;
        width: 75%;
    }
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 245px;
    }
    .footer_container{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        height: 83px;
        width: 60%;
        background: #FFF7F2;
    }
    .footer_head{
        float: right;
        margin-top: 14px;
        margin-right: 30px;
    }
    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 4px;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 110px;
        top: 40px;
    }
}
@media screen and (min-width:510px){ 
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 255px;
    }
    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 4px;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 125px;
        top: 40px;
    }
}
@media screen and (min-width:530px){ 
    .self_img{
        padding-top: 20px;
        display: block;
        border-radius: 50%;
        margin: auto;
        width: 70%;
    }
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 255px;
    }
    .twitter_icon, .linkedin_icon, .github_icon{
        position: relative;
        left: 0px;
        top: 10px;
    }
    .icon_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 9px;
        left: 36px;
    }
    .icon_txt{
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }
    .footer_container{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        height: 83px;
        width: 55%;
        background: #FFF7F2;
    }
    .footer_pic{
        position: absolute;
        top: 20px;
        left: 35px;
        border-radius: 50%;
        width: 16%;
    }
    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 4px;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 120px;
        top: 40px;
    }
}
@media screen and (min-width:550px){ 
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 285px;
    }
}
@media screen and (min-width:570px){
    .self_img{
        padding-top: 20px;
        display: block;
        border-radius: 50%;
        margin: auto;
        width: 65%;
    }
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 295px;
    }
    .twitter_icon, .linkedin_icon, .github_icon{
        position: relative;
        left: -4px;
        top: 10px;
    }
    .icon_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 9px;
        left: 44px;
    }
    .icon_txt{
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }
    .footer_pic{
        position: absolute;
        top: 17px;
        left: 35px;
        border-radius: 50%;
        width: 16%;
    }
    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 4px;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 140px;
        top: 40px;
    }
}
@media screen and (min-width:600px){
    .profile{
    background-color: var(--primary-color);
    height: 550px;
    width: 100%;
    position: relative;
    }   
    .self_img{
        padding-top: 20px;
        display: block;
        border-radius: 50%;
        margin: auto;
        width: 60%;
    }
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 370px;
    }
    .media_icon{
        display: none;
        display: flex;
        justify-content: center;
        justify-items: center;
        width: 100%;
        height: 70px;
        gap: 10px;
        padding: 10px;
        position: absolute;
        bottom: 165px;
    }
    .twitter{
        width: 25%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--neutral);
    }
    .linkedln{
        width: 25%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);   background-color: var(--neutral);
    }
    .github{
        width: 25%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--neutral);
    }
    .behance{
        display: block;
        width: 25%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--neutral);
    }
    .twitter_icon, .linkedin_icon, .github_icon{
        position: relative;
        left: -3px;
        top: 10px;
    }
    .behance_icon{
        position: relative;
        left: -5px;
        top: 7px;
    }
    .behance_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 4px;
        left: 34px;
    }
    .icon_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 9px;
        left: 31px;
    }
    .behance_icon_txt{
        padding-top: 4px;
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }
    .icon_txt{
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }
    .projects{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
        flex-direction: row;
        background-color: var(--neutral);
    }
    .first_project{
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 50%;
        height: 340px;
    }
    .second_project{
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 50%;
        height: 340px;
    }
    .third_project{
      display: none;
    }
    .more_project{
        padding-top: 15px;
    }
    .more_projects_btn{
        text-decoration: none;
        background-color: var(--button-color);
        color: var(--neutral);
        font-weight: bold;
        padding: 10px 15px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    .more_projects_btn:hover{
        background-color: var(--primary-color);
    }
}
@media screen and (min-width:620px){
    .footer_container{
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        height: 80px;
        width: 45%;
        background: #FFF7F2;
    }
    .footer_pic{
        position: absolute;
        top: 20px;
        left: 20px;
        border-radius: 50%;
        width: 15%;
    }
    .footer_head{
        float: right;
        margin-top: 15px;
        margin-right: 35px;
        font-size: small;
    }
    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 4px;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 100px;
        top: 40px;
    }
}
@media screen and (min-width:660px){
    .profile{
    background-color: var(--primary-color);
    height: 550px;
    width: 100%;
    position: relative;
    }   
    .self_img{
        padding-top: 20px;
        display: block;
        border-radius: 50%;
        margin: auto;
        width: 56%;
    }
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 380px;
    }
    .twitter_icon, .linkedin_icon, .github_icon{
        position: relative;
        left: -1px;
        top: 10px;
    }
    .behance_icon{
        position: relative;
        left: -4px;
        top: 7px;
    }
    .behance_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 4px;
        left: 40px;
    }
    .icon_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 9px;
        left: 40px;
    }
    .behance_icon_txt{
        padding-top: 4px;
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }
    .icon_txt{
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }
    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 4px;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 120px;
        top: 40px;
    }
}
@media screen and (min-width:690px){
    .profile{
    background-color: var(--primary-color);
    height: 550px;
    width: 100%;
    position: relative;
    }   
    .self_img{
        padding-top: 20px;
        display: block;
        border-radius: 50%;
        margin: auto;
        width: 55%;
    }
    .exposure{
        position: absolute;
        width: 170px;
        border-radius: 10px;
        box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding: 10px;
        bottom: 40px;
        left: 390px;
    }
    .footer_btn{
        text-decoration: none;
        display: inline-block;
        background-color: var(--button-color);
        border-radius: 4px;
        padding: 4px 10px;
        font-weight: bold;
        color: var(--neutral);
        position: absolute;
        left: 130px;
        top: 40px;
    }
    }
    @media screen and (min-width:700px){
        #menu_icon{
            display: none;
        }
        .sidenav{
            display: none;
        }
        .nav_links_cnt{
            display: block;
            padding: 7px;
            border: 0px solid;
            margin-right: 40%;
        }
        .nav_links{
            text-decoration: none;
            color: grey;
            padding: 15px;
        }
        .nav_links:hover{
            color: var(--button-color);
        }
        .contact_btn{
            display: block;
            background: var(--button-color);
            padding: 4px 10px;
            border-radius: 4px;
            color: var(--neutral);
            height: 35px;
        }
        .contact_btn a{
            color: var(--neutral);
            text-decoration: none;
        }
        .contact_btn:hover{
            background-color: var(--primary-color);
            border: 1px ridge;
        }
        .self_name{
            color: var(--button-color);
        }
        .profile{
            height: auto;
            display: flex;
            width: 100%;
        }
        .web_view_msg{
            display: inline-block;
            margin-left: 20px;
            margin-top: 10%;
            margin-bottom: 10%;
        }
        .self_img{
            margin-top: 10%;
            display: block;
            width: 80%;
            height: auto;
        }
        .resume{
            background-color: var(--button-color);
            color: var(--neutral);
            margin-top: 15px;
            border: 0px solid;
            padding: 10px 15px;
        }
        .resume:hover{
            background: var(--primary-color);
            /* border: 1px dashed; */
            transition: 0.5s;
        }
        .exposure{
            bottom: 35px;
            left: 330px;
        }
        .styled_circle{
            position: absolute;
            bottom: -45px;
            left: 20px;
            transform: rotate(90deg);
        }
        .brief_msg{
            display: none;
        }
        .btn_container{
            display: none;
        }
        .media_pic_cnt{
            flex-direction: row-reverse;
            margin-top: 5%;
        }
        .about_me{
            width: 50%;
            margin-top: -10px;
        }
        .media_pic{
            display: block;
            margin: auto;
            width: 50%;
            margin-right: 18px;
        }
        .media_icon{
            position: absolute;
            top: 165px;
            width: 55%;
        }
        
        .twitter{
            width: 25%;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            background-color: var(--neutral);
        }
        .linkedln{
            width: 25%;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);   background-color: var(--neutral);
        }
        .github{
            width: 25%;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            background-color: var(--neutral);
        }
        .behance{
            display: block;
            width: 25%;
            border-radius: 10px;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            background-color: var(--neutral);
        }
        .twitter_icon, .linkedin_icon, .github_icon{
            position: relative;
            left: -2px;
            top: 10px;
        }
        .behance_icon{
            position: relative;
            left: -2px;
            top: 7px;
        }
        .behance_url{
            text-decoration: none;
            font-weight: bold;
            font-size: 11px;
            color: var(--black);
            text-align: center;
            position: relative;
            bottom: 4px;
            left: 5px;
        }
        .icon_url{
            text-decoration: none;
            font-weight: bold;
            font-size: 11px;
            color: var(--black);
            text-align: center;
            position: relative;
            bottom: 9px;
            left: 5px;
        }
        .behance_icon_txt{
            padding-top: 4px;
            display: block;
            opacity: 0.5;
            font-size: 10px;
            text-align: center;
        }
        .icon_txt{
            display: block;
            opacity: 0.5;
            font-size: 10px;
            text-align: center;
        }
        .more_about_me_btn{
            display: inline-block;
            margin-top: 10px;
            text-decoration: none;
            background-color: var(--button-color);
            color: var(--neutral);
            border: 0px solid;
            border-radius: 4px;
            padding: 8px 14px;
        }
        .services{
            display: block;
            display: flex;
            margin: 15px;
            background-color: var(--neutral);
            margin-top: 8%;
            height: auto;
        }
        .services_pic_cnt{
            width: 50%;
            height: auto;
        }
        .services_pic{
            width: 95%;
            border-radius: 10px;
        }
        .services_msg{
            width: 50%;
        }
        .services_hd{
            color: var(--button-color);
        }
        .services_p{
            font-weight: bold;
        }
        .cv{
            background: var(--button-color);
            color: var(--neutral);
            font-weight: bold;
            margin-top: 9px;
            padding: 10px 15px;
            border-radius: 4px;
            border: 0px solid;
        }
        .cv a{
            text-decoration: none;
            color: var(--neutral);
        }
        .cv:hover{
            background: var(--primary-color);
        }
        .creative_works{
            text-align: center;
            margin-top: 5%;
        }
        .first_project{
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            width: 33.3%;
        }
        .second_project{
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            width: 33.3%;
        }
        .third_project{
            display: block;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            width: 33.3%;
            margin-top: 9px;
            height: 340px;
        }
        .more_projects_btn{
            text-decoration: none;
            background-color: var(--button-color);
            color: var(--neutral);
            padding: 8px 14px;
       }
        .skill_layout_hd{
            text-align: center;
        }
        .skill_layout_p{
            text-align: center;
        }
        .skill_set{
            grid-template-columns: 33.3% 33.3% 33.3%;
        }
        .skill_logo_cnt{
            border: 0px solid;
        }
        .logo_txt{
            font-size: 11px;
        }
        .footer_container{
            display: none;
        }
        hr{
            display: none;
        }
        .footer{
            height: auto;
        }
        .footer_links{
            display: none;
        }
        .connect{
            flex-direction: flex-start;
            width: 260px;
            border-bottom: 2px solid grey;
        }
        #reach_me{
            text-align: left;
            font-weight: bold;
            color: var(--black);
            margin-left: 15px;
            padding-bottom: 10px;
        }
   }
   @media screen and (min-width:720px){
    .media_icon{
           top: 175px;
           width: 55%;
    }
   }
   @media screen and (min-width:735px){
    .exposure{
        bottom: 40px;
        left: 420px;
    }
    .twitter{
        width: 25%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--neutral);
    }
    .linkedln{
        width: 25%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);   background-color: var(--neutral);
    }
    .github{
        width: 25%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--neutral);
    }
    .behance{
        display: block;
        width: 25%;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--neutral);
    }
    .twitter_icon, .linkedin_icon, .github_icon{
        position: relative;
        left: -2px;
        top: 10px;
    }
    .behance_icon{
        position: relative;
        left: -2px;
        top: 7px;
    }
    .behance_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 4px;
        left: 7px;
    }
    .icon_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 9px;
        left: 8px;
    }
    .behance_icon_txt{
        padding-top: 4px;
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }
    .icon_txt{
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }
   }
   @media screen and (min-width:745px){
    .self_img{
        width: 70%;
    }
   }
   @media screen and (min-width:750px){
    .media_icon{
        top: 180px;
    }
   }
   @media screen and (min-width: 770px){
    .media_icon{
        top: 190px;
    }
   }
   @media screen and (min-width: 800px){
    .media_icon{
        top: 200px;
    }
    .self_img{
        margin-right: 8%;
    }
    .exposure{
        bottom: 40px;
        left: 450px;
    }
   }
   @media screen and (min-width: 830px){
    .self_img{
        width: 65%;
    }
    .media_icon{
        top: 210px;
    }
   }
   @media screen and (min-width: 850px){
    .twitter_icon, .linkedin_icon, .github_icon{
        position: relative;
        left: -2px;
        top: 10px;
    }
    .behance_icon{
        position: relative;
        left: -7px;
        top: 7px;
    }
    .behance_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 4px;
        left: 20px;
    }
    .icon_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 9px;
        left: 15px;
    }
    .behance_icon_txt{
        padding-top: 4px;
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }
    .icon_txt{
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }
    .media_pic{
        margin-right: 20px;
    }
   }
   @media screen and (min-width: 860px){
    .media_icon{
        top: 220px;
    }
   }
   @media screen and (min-width: 890px){
    .media_icon{
        top: 230px;
    }
    .nav_links_cnt{
        margin-left: -5%;
    }
   }
   @media screen and (min-width: 920px){
    .exposure{
        bottom: 30px;
        left: 490px;
    }
    .media_icon{
        top: 240px;
    }
    .twitter_icon, .linkedin_icon, .github_icon{
        position: relative;
        left: -3px;
        top: 10px;
    }
    .behance_icon{
        position: relative;
        left: -7px;
        top: 7px;
    }
    .behance_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 4px;
        left: 20px;
    }
    .icon_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 9px;
        left: 20px;
    }
    .behance_icon_txt{
        padding-top: 4px;
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }
    .media_pic{
        margin-right: 22px;
    }
   }
   @media screen and (min-width: 950px){
    .media_icon{
        top: 250px;
    }
    .nav_links_cnt{
        margin-right: 45%;
    }
    .media_pic{
        margin-right: 25px;
    }
   }
   @media screen and (min-width: 980px){
    .self_img{
        width: 60%;
    }
    .media_icon{
        top: 260px;
    }
   }
   @media screen and (min-width:1000px){
    .self_img{
        margin-right: 8%;
    }
    .media_icon{
        top: 280px;
    }
    .nav_links_cnt{
        margin-right: 50%;
    }
    .twitter_icon, .linkedin_icon, .github_icon{
        position: relative;
        left: -3px;
        top: 10px;
    }
    .behance_icon{
        position: relative;
        left: -7px;
        top: 7px;
    }
    .behance_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 4px;
        left: 30px;
    }
    .icon_url{
        text-decoration: none;
        font-weight: bold;
        font-size: 11px;
        color: var(--black);
        text-align: center;
        position: relative;
        bottom: 9px;
        left: 30px;
    }
    .behance_icon_txt{
        padding-top: 4px;
        display: block;
        opacity: 0.5;
        font-size: 10px;
        text-align: center;
    }
    .first_project{
        height: 370px;
    }
    .second_project{
        height: 370px;
    }
    .third_project{
        height: 370px;
    }
   }
   @media screen and (min-width:1090px){
    .media_icon{
        top: 290px;
    }
    .self_img{
        width: 55%;
    }
    .media_pic{
        margin-right: 30px;
    }
   }
   /**/
   @media screen and (min-width: 1115px){
    .media_icon{
        top: 300px;
    }
    #general_cnt{
        margin: auto;
        padding: auto;
        width: 1115px;
    }
    .nav{
        width: 1115px;
    }
   }
